# --- Andmebaas (analüütika) ---
POSTGRES_USER=projekt
POSTGRES_PASSWORD=projekt
POSTGRES_DB=projekt
DB_PORT_HOST=55434

# --- Airflow ---
AIRFLOW_USER=airflow
AIRFLOW_PASSWORD=airflow
AIRFLOW_DB=airflow
AIRFLOW_UID=50000
AIRFLOW_PORT_HOST=8080
AIRFLOW_WWW_USER_USERNAME=airflow
AIRFLOW_WWW_USER_PASSWORD=airflow
AIRFLOW__API_AUTH__JWT_SECRET=airflow_jwt_secret
AIRFLOW__API_AUTH__JWT_ISSUER=airflow

# --- dbt (Airflow konteineris) ---
PIP_ADDITIONAL_REQUIREMENTS=dbt-postgres==1.10.0 requests==2.32.0

# --- Superset ---
SUPERSET_DB_USER=superset
SUPERSET_DB_PASSWORD=superset
SUPERSET_DB_NAME=superset
SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=admin
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_SECRET_KEY=python -c "import secrets; print(secrets.token_hex(32))"
SUPERSET_PORT_HOST=8088
